pip==23.1.2
imbalanced-learn==0.10.1
matplotlib==3.6.3
numpy==1.23.5
pandas==1.5.3
phik==0.12.3
plotly==5.9.0
pysrt==1.1.2
scikit-learn==1.2.1
seaborn==0.12.2
spacy==3.5.2
streamlit==1.22.0
altair==4.2.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
